body {
  background-color: #eeeeee;

}

#content {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border: solid #999999;
  min-height: 800px;
}

#menu-icon {
  width: 20px;
}

#page-logo {
  width: 80px;
  height: 30px;
}

nav ul li {
  display: inline-block;
}

nav ul {
  margin-top: -1px;
  padding-bottom: 5px;
}

header {
  width: auto;
  height: 50px;
  background-color: white;
}

#search-form {
  width: 550px;
}

#search-box {
  width: 450px;
}

#header-line {
  width: 100%;
  background-color: #eeeeee;
  height: 10px;
}

#language {
  height: 40px;
  width: 100%;
  background-color: #167AC6;
}

#info {
  background-color: white;
  width: auto;
  border: solid #167AC6;
  height: 40px;
  margin: 0;
}
main {
  width: auto;
  margin-top: 10px;
}
#left {
  background-color: white;
  width: 69%;
  height: 200px;
  /* margin-left: auto;  */
  float: left;
}

#right {
  background-color: white;
  width: 29%;
  height: 200px;
  /* margin-right: auto; */
  float: right;
}
#up-next {
margin: 0;
}
#recommendations {
}
video {
background-color: black;
width: 100%;
height: 340px;
margin-bottom: 10px;
}
#video-details{
  width: 100%;
  height: 150px;
  background-color: white;
}
